@font-face {
    font-family: Lemon;
    src: url(../../fonts/Lemon\ Tuesday.otf);
}

* {
    --linear: linear-gradient(to bottom left, #43C6AC, #00072D);
    --orange: #FF8811;
    --white: #FFFFFF;
    --black: #000000;
    --grey-light: #DDD;
    --grey-dark: #323232;
    --black-film: rgba(0, 0, 0, 0.7); 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__title1, .logo__title2 {
    font-family: Lemon;
    font-size: 1.4rem;
}

.logo__title2{
    color: var(--orange);
}

.logo__title1 {
    color: var(--white);
}

.logo__icon {
    color: var(--white);
}

