.trailer-card {
    height: 12rem;
    width: 20rem;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 1rem 1rem 3rem;
    position: relative;
    flex-direction: column;
}


.trailer-card:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.trailer-card:hover .trailer-card__play {
    opacity: 1;
}

.trailer-card:hover .trailer-card__movie-name {
    visibility: visible;
    pointer-events: all;
}

.trailer-card__play {
    transform: scale(3);
    color: var(--white);
    opacity: .6;
    z-index: 2;
}

.trailer-card__movie-name {
    color: var(--white);
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

