.header {
    padding: 0rem 2rem;
    height: 4rem;
    background: var(--linear);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.header__menu {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.header__tab {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
}

.header__tab__avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--white);
}

.header__tab__searchIcon {
    transform: scale(1.2);
    color: var(--white);
    margin-right: 2rem;
}