.movie-detail__hero {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
}

.movie-detail__hero::before {
    pointer-events: none;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: linear-gradient(90deg, 
    #000000, #000000FF, #000000DD,#000000BB, #00000099, #00000088); 
}

.movie-detail__hero__poster {
    width: 30%;
    border-radius: .5rem;
    z-index: 2;
}

.movie-detail__hero__info {
    width: 70%;
    z-index: 2;
    color: var(--white);
    padding: 0rem 0rem 0rem 2rem;
}

.movie-detail__hero__info__subheading {
    margin: 0rem 0rem 1rem;
}

.movie-detail__hero__info__tagline {
    font-family: SegoeItalic;
    margin: 1rem 0rem;
}

.movie-detail__hero__info__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
 
.movie-detail__hero__info__icons__1,  
.movie-detail__hero__info__icons__2,  
.movie-detail__hero__info__icons__3 {  
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    margin: 0rem .5rem;
    cursor: pointer;
}

.movie-detail__hero__info__videos {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    padding: 0rem 2rem;
}

.movie-detail__hero ::-webkit-scrollbar {
    height: 5px;
}

.movie-detail__hero ::-webkit-scrollbar-thumb {
    background: var(--grey-light);
    border-radius: 10px;
}

.movie-detail__hero__info__user-score {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--orange);
    margin-left: .5rem;
    margin-right: 2rem;
}

.movie-detail__similar,
.movie-detail__cast {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0rem 2rem;
    /* align-items: center; */
}

.movie-detail__cast {
    margin-top: 2rem;
}

.movie-detail__similar {
    margin-bottom: 4rem;
}

.movie-detail ::-webkit-scrollbar {
    height: 7px;
}

.movie-detail ::-webkit-scrollbar-thumb {
    background: var(--grey-dark);
    border-radius: 10px;
}

.movie-detail__similar__heading,
.movie-detail__cast__heading {
    background: var(--linear);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.movie-detail__similar__heading {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 832px) {
    .movie-detail__hero__poster {
        position: absolute;
        pointer-events: none;
        visibility: hidden;
        top: 0;
        right: 0;
        z-index: -100;
    }

    .movie-detail__hero__info {
        width: 100%;
        padding: 0rem;
    }

    .movie-detail__hero__info__videos {
        padding: 0;
    }
}

@media only screen and (max-width: 640px) {
    
}