.person-detail {
    width: 100%;
    display: flex;
    padding: 2rem;
}

.person-detail__personal-info {
    width: 30%;
    padding: 0rem 2rem 0rem 0rem;
}


.person-detail__carrier {
    width: 70%;
}

.person-detail__carrier__acting {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2);
}

.person-detail__carrier__acting__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}

.person-detail__carrier__acting__row__name {

}

.person-detail__carrier__acting__row__radio {
    margin: 0rem 1rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border: 1px solid var(--black);
    position: relative;
}

.person-detail__carrier__acting__row__radio:hover {
    background-color: var(--primary);
}

.person-detail__carrier__acting__row__as {
    margin: 0rem .5rem;
    color: rgb(158, 150, 150);
}

.person-detail__carrier__acting__row__character {

}

.radio__submenu {
    position: absolute;
    height: 10rem;
    width: 30rem;
    background-color: var(--primary);
    border-radius: .5rem;
    bottom: -11rem;
    left: -5rem;

    visibility: hidden;
    pointer-events: none;
    padding: 1rem;
}

.radio__submenu::after {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary);
    content: '';
    top: -.60rem;
    left: 4.6rem;
    transform: rotate(45deg);
}

.radio__submenu--active {
    visibility: visible;
    pointer-events: all;
    z-index: 3;
}

.person-detail__image {
    width: 100%;
    border-radius: .5rem;
    position: relative;
}

.person-detail__carrier__known-for__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.person-detail__carrier__sub-heading {
    margin: 1rem 0rem .5rem;
}

.person-detail__carrier__biography {
    margin-bottom: 1rem;
}

.radio__submenu {
    display: flex;
    justify-content: flex-start;
    color: var(--white);
    cursor: pointer;
}

.radio__submenu__detail {
    height: 100%;
    overflow-y: scroll;
}

.radio__submenu__image {
    width: 25%;
    margin-right: 1rem;
}

.radio__submenu ::-webkit-scrollbar {
    width: 5px;
}

.radio__submenu ::-webkit-scrollbar-thumb {
    background: var(--grey-dark);
    border-radius: 10px;
}