.slider {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.slider__container{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.slider__container__card {
    padding: 2rem;
}

.slider__prev, 
.slider__next {
    color: var(--white);
    transform: scale(2);
    position: absolute;
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.slider__prev {
    left: 1rem;
    opacity: 1;
    pointer-events: all;
}

.slider__prev--hidden {
    left: 1rem;
    opacity: 0;
    pointer-events: none;
}

.slider__next {
    right: 1rem;
}