.trailer-card {
    height: 12rem;
    width: 20rem;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 1rem 1rem 3rem;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
}

.trailer-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.trailer-card__play {
    transform: scale(2);
    color: var(--white);
    opacity: 1;
    z-index: 2;
    transition: all 0.5s ease;
}

.trailer-card__movie-name {
    transition: 0.5s ease;
    color: var(--white);
    z-index: 2;
}

.trailer-card:hover .trailer-card__movie-name {
    transform: translateY(-300%);
}

.trailer-card:hover .trailer-card__play {
    transform: scale(3) translateY(-10%);
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 832px) {
    .trailer-card {
        height: 10rem;
        width: 17rem;
        font-size: .8rem;
    }

    .trailer-card__play {
        opacity: .6;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 640px) {
    .trailer-card {
        height: 8rem;
        width: 14rem;
    }
}
