@font-face {
    font-family: Lemon;
    src: url(../src/fonts/Lemon\ Tuesday.otf);
}

@font-face {
    font-family: Segoe;
    src: url(../src/fonts/Segoe\ UI.ttf);
}

@font-face {
    font-family: SegoeBold;
    src: url(../src/fonts/Segoe\ UI\ Bold.ttf);
}

* {
    --linear: linear-gradient(to bottom left, #43C6AC, #00072D);
    --orange: #FF8811;
    --white: #FFFFFF;
    --black: #000000;
    --grey-light: #DDD;
    --grey-dark: #323232;
    --black-film: rgba(0, 0, 0, 0.7); 
    --primary: #00072D;

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

.play-video--active {
    pointer-events: all;
    visibility: visible;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4;
    background-color: var(--black-film);
}

.play-video {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
}

.play-video__player {
    /* width: 60%; */
    position: fixed;
}

.wrapper {
    pointer-events: all;
    visibility: visible;
    position: relative;
}

.wrapper--hidden {
    pointer-events: none;
}