@font-face {
    font-family: Lemon;
    src: url(../src/fonts/Lemon\ Tuesday.otf);
}

@font-face {
    font-family: Segoe;
    src: url(../src/fonts/Segoe\ UI.ttf);
}

@font-face {
    font-family: SegoeItalic;
    src: url(../src/fonts/Segoe\ UI\ Italic.ttf);
}

@font-face {
    font-family: SegoeBold;
    src: url(../src/fonts/Segoe\ UI\ Bold.ttf);
}

* {
    --linear: linear-gradient(to bottom left, #43C6AC, #00072D);
    --orange: #FF8811;
    --white: #FFFFFF;
    --black: #000000;
    --grey-light: #DDD;
    --grey-dark: #323232;
    --black-film: rgba(0, 0, 0, 0.7); 
    --primary: #00072D;

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: Segoe;
}
